/web/bundles/
/web/css/
/web/fonts/
/web/images/
/web/uploads/
/web/js/
/app/bootstrap.php.cache
/app/mails
/var/cache/*
/var/logs/*
/var/sessions/*
/app/config/parameters.yml
/app/logs/*
/app/documents/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/build/
/vendor/
/nbproject/private/
/nbproject/
/web/config.php
/var/bootstrap.php.cache
/var/SymfonyRequirements.php
/composer.lock
/bin/symfony_requirements

